body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    margin: 0;
    overflow: hidden; /* Prevents scrolling */
}

canvas {
    border: 30px solid #fff;
    box-sizing: border-box;
    max-width: 100vw; /* Adjusts canvas for mobile screens */
    max-height: 100vh;
    width: 100%; /* Ensures canvas scales with viewport */
    height: auto; /* Maintains aspect ratio */
}
